.contact {
  height: 400px;
  width: $width-mobil;
  h1 {
    font-family: "Nunito";
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    span {
      color: #00730c;
      font-size: 50px;
    }
  }
}
